@layer themes {

	drop-down[data-theme="md-1"] {
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		column-gap: 40px;
		justify-content: end;

		>.content.default {
			border-left: thin solid var(--grey-light);
			padding-left: 2rem;
		}

		li {
			padding: 2px 5px;
		}
	}

	/* [data-state] */
	drop-down[data-theme="md-1"][data-state="on"] {
		width: 100%;

		>un-button {
			order: 1;
		}

		>.content {
			margin-top: 0;
			flex-direction: column;
			align-items: baseline;
			flex-wrap: wrap;
			column-gap: 0.5rem;
			row-gap: 0.5rem;
		}

		>.content li {
			width: fit-content;
		}
	}

	@media (min-width: 640px) {
		drop-down[data-theme="md-1"][data-state="on"] {
			>.content {
				flex-direction: row;
			}
		}
	}

}